In [6]:
import pandas as pd
import os

In [16]:

vac_df.YEAR.iloc[0]+1

2009

In [19]:
years  = [2008, 2009, 2019, 2011, 2012, 2013, 2014, 2015, 2016, 2017,2018, 2019, 2020]
vac_df = pd.read_excel(os.path.join("..", "data", 'men_vacc.xlsx'))
vac_df = vac_df[vac_df['YEAR'].isin(years)]
vac_df

,YEAR,MEN_ANY_REC=YES or MEN_ANY_SC=YES excluding conflicting responses,MEN_ANY_SC excluding NAN,P_NUMMEN=1,P_U13MEN ==UTD,P_NUMMEN>1 AMONG AGE>16,P_UTDMEN==UTD
0,2008,0.339,0.297,0.395,0.108,-,0.401
1,2009,0.399,0.369,0.506,0.195,0.007,0.518
3,2011,0.458,0.487,0.658,0.423,0.034,0.687
4,2012,0.468,0.528,0.665,0.514,0.092,0.72
5,2013,0.488,0.585,0.673,0.584,0.126,0.753
7,2014,0.68,-,0.696,0.658,0.156,0.796
8,2015,0.708,-,0.708,0.702,0.169,0.824
9,2016,0.731,-,0.696,0.709,0.182,0.827
10,2017,0.749,-,0.707,0.743,0.205,0.853
11,2018,0.76,-,0.707,0.765,0.223,0.862
12,2019,0.778,-,0.713,0.798,0.228,0.883
13,2020,0.803,-,0.719,0.819,0.248,0.895